_site
.sass-cache
.jekyll-metadata
node_modules
Gemfile.lock
.DS_Store
*.swp
.claude
assets/images/qcsp_philsa0*.png
assets/images/ntc_meeting.png
assets/images/devcon_0*.png
assets/images/neust-hackathon-*.jpeg
assets/images/upv-hackathon-*.JPG
assets/images/addu-hackathon-*.jpg
